{layout '../../Base/templates/@layout.latte'}

{block #head}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" defer/>
	<link rel="stylesheet" href="{$basePath}/assets/front.css" defer/>
	<script src="{$basePath}/assets/front.js" defer></script>
{/}
