<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<!-- Seo -->
	<title>{block #title|stripHtml|trim}Cron timeline{/}</title>

	<!-- Meta -->
	<meta name="description" n:ifset="#description" content="{include #description}">
	<meta name="keywords" n:ifset="#keywords" content="{include #keywords}">
	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="snippet,archive">
	<meta name="author" content="f3l1x">

	<link rel="stylesheet" href="{$basePath}/lib/jquery-sked-tape/dist/jquery.skedTape.css" defer />

	{block #head}{/}
</head>
<body>
{block #main}
	{snippet flashes}
		<div n:foreach="$flashes as $flash" n:class="alert, 'alert-'.$flash->type">{$flash->message}</div>
	{/snippet}

	<div class="d-block w-100 p-3">
		{include #content}
	</div>
{/}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{$basePath}/lib/jquery-sked-tape/dist/jquery.skedTape.js"></script>
{block #scripts}{/}
</body>
</html>
