{block #content}
	{if $countCrones > 0}
		<div class="mb-4">
			<div class="float-left h2">Timeline cronů</div>

			<form class="float-right">
				<span> Zobrazit pro den:</span> <input name="forDate" type="date" value="{$dateFrom|date:'%Y-%m-%d'}">
				<input name="page" type="hidden" value="{$paginator->getPage()}">
				<input type="submit" value="POTVRDIT">
			</form>
		</div>

		<div id="crones"></div>

		<div class="position-relative">
			<div class="sked-tape__event"></div> <div class="pl-4">aktivní cron</div>
		</div>
		<div class="position-relative">
			<div class="sked-tape__event sked-tape__event--disabled"></div> <div class="pl-4">neaktivní cron</div>
		</div>
		<div class="mt-2">Lze přiblížit a oddálit klávesami +/-</div>

		<div class="pagination mt-2 mb-5 text-center d-block">
			{if !$paginator->isFirst()}
				<a n:href="default, 1, $dateFrom">První</a>
				&nbsp;|&nbsp;
				<a n:href="default, $paginator->page-1, $dateFrom">Předchozí</a>
				&nbsp;|&nbsp;
			{/if}

			Stránka {$paginator->getPage()} z {$paginator->getPageCount()}

			{if !$paginator->isLast()}
				&nbsp;|&nbsp;
				<a n:href="default, $paginator->getPage() + 1, $dateFrom">Další</a>
				&nbsp;|&nbsp;
				<a n:href="default, $paginator->getPageCount(), $dateFrom">Poslední</a>
			{/if}
		</div>

		<div class="w-50 mx-auto">
			<div class="mb-4 text-center h3">
				Nahrát nebo aktualizovat stávající crony
			</div>
		</div>
	{else}
		<div class="w-50 mx-auto">
			<div class="mb-4 text-center h3">
				Prosím importujte crony nahrátím CSV souboru.
			</div>
		</div>
	{/if}

	<div class="w-50 mx-auto">
		{form uploadForm}
			<ul class="errors" n:ifcontent>
				<li n:foreach="$form->getOwnErrors() as $error">{$error}</li>
			</ul>
			<div class="input-group mb-5 pb-5">
				  <div class="input-group-prepend">
						<span class="input-group-text">CSV soubor</span>
				  </div>
				  <div class="custom-file">
						{input file class=>'custom-file-input'}
						<label class="custom-file-label">Vyberte soubor</label>
				  </div>
				  <div class="input-group-append">
						{input submit class=>'btn btn-outline-secondary'}
				  </div>
			</div>
		{/form}
	</div>
{/block}

{block #scripts}
	<script>
		const locations = {$crones};
		const events = {$events};
		const countCrones = {$countCrones}
		const cronesContainerConfig = {
			caption: 'Název cronu',
			start: new Date({$dateFrom}),
			end: new Date({$dateTo}),
			showEventTime: true,
			showEventDuration: true,
			locations: locations.slice(),
			events: events.slice(),
			tzOffset: 0,
			sorting: true,
			formatters: {
				date: function (date) {
					return $.fn.skedTape.format.date(date, 'l', '. ');
				},
			},
		};
		const $cronesContainer = $.skedTape(cronesContainerConfig);

		if (countCrones > 0) {
			$cronesContainer.appendTo('#crones').skedTape('render');
			$cronesContainer.skedTape(cronesContainerConfig);
		}

		$('.custom-file input').change(function() {
			$(this).parent().children('.custom-file-label').text($(this).val());
		});
	</script>
{/block}
